@import "../../theme/index";

.default {
  @include flat-shadow;
  border-radius: $border-radius $border-radius 0 0;
  display: flex;
  flex-direction: column;
  background-color: $color-cards;
  overflow: hidden;
  margin-top: $spacing-medium;
  margin-bottom: $spacing-medium;
  box-sizing: border-box;
  border-bottom: 2px solid $color-friendly;

  @include for-tablet-landscape-up {
    flex-direction: column;
    .element {
      padding: none;
    }
    .data {
      flex-direction: row;
    }
  }

  .header {
    border-radius: inherit;
    background: $color-friendly;
    span {
      color: #fff;
      text-transform: uppercase;
    }
    .arrow {
      background-color: #000;
    }
    padding: $spacing-medium;
    transition: background-color 0.5s ease;
    box-sizing: border-box;
  }

  .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $spacing-medium;
    box-sizing: border-box;

    .element {
      padding-top: $spacing-medium;
      padding-bottom: $spacing-medium;
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
    }

    .address {
      display: flex;
      flex-direction: column;
    }

    a {
      color: inherit;
      text-decoration: inherit;
      @include content;
    }
  }

  .icons {
    display: none;
  }

  .map {
    display: none;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
}

.small {
  @include flat-shadow;
  background-color: $color-cards;
  border-radius: $border-radius;
  box-sizing: border-box;
  margin-top: $spacing-medium;
  margin-bottom: $spacing-medium;
  display: flex;

  @include for-tablet-landscape-up {
    .icon {
      margin-right: $spacing-huge;
    }
  }

  .header {
    border-radius: inherit;
    transition: background-color 0.5s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: $spacing-medium;
  }
  .data {
    display: none;
  }

  .icons {
    display: flex;
    flex-direction: row;
  }

  .icon {
    margin-right: $spacing-small;
  }
}
